.formContainer {
    position: relative;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    border-style: solid;
    border-color: #d0cfcf;
    border-width: 1px;    
}

.list-icons {
    position: absolute;
    right: 10px;
    top: 6px;
    cursor: pointer;
}